.login>div{
    display: inline-block;
}
body{
    background-image: url(../../img/soccer2.png);
    background-repeat : no-repeat;
    background-size : cover;
    width: auto;
    height: 100%;
}
/* 전체 틀 박스 
.login{
    width: 600px;
    height: 800px;
    background-color: pink;
    border-radius: 30px;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}
*/
.login{
    width: 600px;
    height: 830px;
    background-color: white;
    border-radius: 30px;
    outline: none;
    margin: 0 auto;
    flex-direction: column;
    display: flex;
    margin-left: 650px;
}
#title_2{
    display : flex;
    justify-content : center;
    align-items : center;
    color: black;
    font-size: 40px;
    text-align: center;
    letter-spacing: 1.5px;
}
/* 입력 칸들을 담는 박스 */
.login_input{
    width: 400px;
    height: 550px;
    margin-bottom: 50px;
    margin-left: 100px;
}
/* 입력 칸들 */
.login_input input{
    width: 358px;
    height: 50px;
    border-radius: 30px;
    background-color: white;
    margin-bottom: 12px;
    margin-top: -6px;
    padding: 0px 20px;
    border: 1px solid lightgray;
    outline: none;
}
/* 로그인 버튼 */
#signInButton{
    width: 400px;
    height: 50px;
    outline: none;
    border-radius: 30px;
    border: 1px solid lightgray;
    color: white;
    background-color: black;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 50px;
    margin-top: 50px;
    letter-spacing: 1.2px;
    transition: 0.25s;
}
#signInButton:hover{
    color: white;
    transform: scale(1.2);
    cursor: pointer;
    transition: 0.25s;
}
/* 회원가입 버튼 */
#firstButton{
    width: 400px;
    height: 50px;
    outline: none;
    border-radius: 30px;
    border: 1px solid lightgray;
    background-color: white;
    font-size: 20px;
    font-weight: bold;
    margin-top: 50px;
    letter-spacing: 1.2px;
    transition: 0.25s;
}
#firstButton:hover{
    color: white;
    transform: scale(1.2);
    cursor: pointer;
    transition: 0.25s;
}
