/* 전체 틀 박스 */
#createTeambox{
    width: 500px;
    height: 70%;
    background-color: white;
    border-radius: 30px;
    outline: none;
    margin: 0 auto;
    flex-direction: column;
    display: flex;
    margin-left: 700px;
    margin-top: 100px;
}
/* 제목 */
#crtTitle {
    margin-top: 100px;
    margin: 0 auto;
    font-size: 35px;
}
/* 입력 칸 */
.inputbox {
    margin: 0 auto;
    width: 290px;
    height: 70px;
    font-size: 20px;
    border-radius: 30px;
    background-color: white;
    padding: 0px 20px;
    border: 1px solid lightgray;
    outline: none;
    margin-bottom: 25px;
}
/* 생성 버튼 */
.createbutton{
    width: 150px;
    height: 70px;
    outline: none;
    border-radius: 30px;
    border: 1px solid lightgray;
    color: white;
    background-color: black;
    font-size: 22px;
    font-weight: bold;
    margin: 0 auto;
    letter-spacing: 1.5px;
    transition: 0.25s;
    margin-bottom: 65px;
}
.createbutton:hover{
    color: white;
    transform: scale(1.2);
    cursor: pointer;
    transition: 0.25s;
}