/* 전체 틀 박스 */
.signup{
    width: 600px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 650px;
}
#title{
    color: black;
    text-align: center;
    letter-spacing: 1.5px;
    margin-top: 60px;
}
/* 입력 칸들을 담는 박스 */
.signup_input{
    width: 400px;
    height: 500px;
    background-color: white;
    margin: 0 auto;
    margin-top: 100px;
}
/* 입력 칸들 */
.signup_input input{
    width: 358px;
    height: 50px;
    border-radius: 30px;
    background-color: white;
    margin-bottom: 5px;
    margin-top: -10px;
    padding: 0px 20px;
    border: 1px solid lightgray;
    outline: none;
}
/* 회원가입 하기 버튼 */
#signUpButton{
    width: 400px;
    height: 53px;
    outline: none;
    border-radius: 30px;
    border: 1px solid lightgray;
    color: white;
    background-color: black;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 5px;
    letter-spacing: 1.2px;
    transition: 0.25s;
}
#signUpButton:hover{
    color: white;
    transform: scale(1.2);
    cursor: pointer;
    transition: 0.25s;
}
/* 로그인 하러가기 버튼 */
#gologinbutton{
    border: 0;
    background-color: white;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}
